body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
}

i {
  font-size: 10px;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  display: inline;
  font-weight: lighter;
  color: rgb(156, 155, 155);
}

table {
  width: 100%;
}

.table {
  width: 290px;
  height: 330px;
  padding: 0 20px 20px 20px;
  border: 1px solid gainsboro;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  display: inline;
  font-size: 18px;
}

.header-title::before {
  content: 'Real-time';
  color: #33cc33;
}


.rank tr:hover {
  background-color: #ddd;
}
.rank-list td, .rank-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

.rank-list-2 {
  width: 120px;
  background: rgb(235, 233, 233);
}


.rank-number {
  text-align: end;
}

.rank i {
  text-align: start;
}

.up {
  color: red;
}

.down {
  color: blue;
}

.number {
  border: 1px solid gray;
}

.footer {
  padding-top: 5px;
  border-top: 1px solid gainsboro;
}